<a href="https://colab.research.google.com/github/zulfa755/Task-Tracker-CLI/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/produk_elektronik.csv")

In [ ]:
# 1b: Tampilkan informasi tipe data dan jumlah missing values
print("Tipe data tiap kolom:\n")
print(data.dtypes)
print("\nJumlah missing values di setiap kolom:\n")
print(data.isnull().sum())

Tipe data tiap kolom:

produk_id          int64
nama_produk       object
kategori          object
harga            float64
rating           float64
jumlah_ulasan    float64
negara_asal       object
dtype: object

Jumlah missing values di setiap kolom:

produk_id         0
nama_produk       0
kategori          0
harga            30
rating           50
jumlah_ulasan    20
negara_asal       0
dtype: int64

In [ ]:
# 2a: Hitung jumlah missing values per kolom
missing_values = data.isnull().sum()
print("\nJumlah missing values per kolom:\n", missing_values)

Jumlah missing values per kolom:
 produk_id         0
nama_produk       0
kategori          0
harga            30
rating           50
jumlah_ulasan    20
negara_asal       0
dtype: int64

In [ ]:
# 2c: Tentukan metode untuk menangani missing values (imputasi)
def handle_missing_values(data):
    for col in data.columns:
        if data[col].isnull().sum() > 0:
            if data[col].dtype in [np.float64, np.int64]:
                data[col].fillna(data[col].mean(), inplace=True)  # Imputasi dengan mean
            else:
                data[col].fillna(data[col].mode()[0], inplace=True)  # Imputasi dengan mode
handle_missing_values(data)

In [ ]:
# 2d: Cek kembali missing values setelah penanganan
print("\nMissing values setelah penanganan:\n")
print(data.isnull().sum())

Missing values setelah penanganan:

produk_id        0
nama_produk      0
kategori         0
harga            0
rating           0
jumlah_ulasan    0
negara_asal      0
dtype: int64

In [ ]:
# 3a: Identifikasi outlier dengan metode IQR
def detect_outliers(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] < lower_bound) | (data[column] > upper_bound)]

numerical_columns = data.select_dtypes(include=[np.number]).columns
for col in numerical_columns:
    outliers = detect_outliers(data, col)
    print(f"Kolom: {col}, Jumlah outlier: {len(outliers)}")

Kolom: produk_id, Jumlah outlier: 0
Kolom: harga, Jumlah outlier: 14
Kolom: rating, Jumlah outlier: 0
Kolom: jumlah_ulasan, Jumlah outlier: 0

In [ ]:
# 3c: Pilih metode untuk menangani outlier (Winsorization)
def handle_outliers(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data[column] = np.where(data[column] < lower_bound, lower_bound, data[column])
    data[column] = np.where(data[column] > upper_bound, upper_bound, data[column])

for col in numerical_columns:
    handle_outliers(data, col)

In [ ]:
# 3d: Cek kembali outlier setelah penanganan
for col in numerical_columns:
    print(f"Kolom: {col}, Jumlah outlier setelah penanganan: {len(detect_outliers(data, col))}")

Kolom: produk_id, Jumlah outlier setelah penanganan: 0
Kolom: harga, Jumlah outlier setelah penanganan: 0
Kolom: rating, Jumlah outlier setelah penanganan: 0
Kolom: jumlah_ulasan, Jumlah outlier setelah penanganan: 0

In [ ]:
# 4a: Identifikasi kolom yang memerlukan encoding
categorical_columns = data.select_dtypes(include=[object]).columns
print("\nKolom kategori yang memerlukan encoding:\n", categorical_columns)

Kolom kategori yang memerlukan encoding:
 Index(['nama_produk', 'kategori', 'negara_asal'], dtype='object')

In [ ]:
# 4b: Pilih metode encoding (One-Hot Encoding)
encoded_data = pd.get_dummies(data, columns=categorical_columns)

In [ ]:
print("\nData setelah encoding:\n")
print(encoded_data.head())

Data setelah encoding:

   produk_id  harga  rating  jumlah_ulasan  nama_produk_Produk_1  \
0        1.0  746.0     4.2          273.0                  True
1        2.0  241.0     3.5          239.0                 False
2        3.0  810.0     3.8          209.0                 False
3        4.0  303.0     3.2           59.0                 False
4        5.0  252.0     3.7           76.0                 False

   nama_produk_Produk_10  nama_produk_Produk_100  nama_produk_Produk_101  \
0                  False                   False                   False
1                  False                   False                   False
2                  False                   False                   False
3                  False                   False                   False
4                  False                   False                   False

   nama_produk_Produk_102  nama_produk_Produk_103  ...  kategori_Tablet  \
0                   False                   False  ...            False
1                   False                   False  ...            False
2                   False                   False  ...             True
3                   False                   False  ...            False
4                   False                   False  ...            False

   negara_asal_Canada  negara_asal_China  negara_asal_France  \
0               False              False               False
1                True              False               False
2                True              False               False
3               False              False               False
4               False              False               False

   negara_asal_Germany  negara_asal_India  negara_asal_Japan  \
0                False              False               True
1                False              False              False
2                False              False              False
3                False              False              False
4                False              False              False

   negara_asal_South Korea  negara_asal_UK  negara_asal_USA
0                    False           False            False
1                    False           False            False
2                    False           False            False
3                     True           False            False
4                     True           False            False

[5 rows x 569 columns]